body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #f8f8f8;
}

.logo {
    height: 50px;
}

.login-button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: #f8f8f8;
    position: fixed;
    width: 100%;
    bottom: 0;
}

main {
    padding: 20px;
}

.place-card, .review-card {
    margin: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 10px;
}

.place-image, .place-image-large {
    width: 100%;
    border-radius: 10px;
}

.place-details {
    margin: 20px 0;
}

.details-button, .add-review, button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}
